/*Universal styles*/
html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #444444;
}

* {
  box-sizing: border-box;
}

/*Header styles*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  white-space: nowrap;
}

.desktop-logo img,
.mobile-icon img {
  height: 2.5rem;
  width: auto;
}

.home {
  flex-grow: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.home .bold {
  font-weight: 700;
}

.home .gray {
  color: gray;
}

header button {
  background-color: white;
  width: 25%;
  padding: 1rem 0 0.5rem 0;
  margin: 0 1rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
  border-radius: 1rem;
  border-width: 0;
}

header nav a {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

header button:hover,
header nav a:hover {
  background-color: #ff980075;
  transition: background-color 0.25s linear;
}

header button:active,
header nav a:active,
.courses .grid button:active {
  background-color: #f0ac7d;
  transition: background-color 0 linear 0;
}

/*Main banner styles*/
.banner {
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 2rem 1.5rem;
}

.banner .image {
  width: 60%;
  flex-shrink: 0;
}

.banner .image img {
  width: 100%;
}

.banner .text {
  width: 40%;
  margin: 3rem;
}

.banner h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  padding-right: 3rem;
}

.banner h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 2rem 0;
  padding-right: 3rem;
}

.banner button {
  color: white;
  background-color: dimgray;
  width: 80%;
  padding: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
  border-radius: 1rem;
  border-width: 0;
  box-shadow: 0 0 5px #757575;
}

.banner button:hover {
  background-color: rgba(188, 8, 88, 0.8);
  transition: background-color 0.2s linear;
}

.banner button:active {
  background-color: rgba(242, 17, 92, 0.65);
  transition: background-color 0 linear 0;
}

/*Info and thesis section styles*/
.info,
.exhibit {
  display: flex;
}

.introduction {
  width: 60%;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.introduction img,
.introduction video {
  width: 100%;
}

.image-info h2,
.video-info h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.image-info h5,
.video-info h5 {
  font-size: 0.8rem;
}

.highlight-list {
  width: 40%;
  padding: 2rem 1rem 0 0.5rem;
  border-left: 0.5px solid lightgray;
}

.highlight {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.highlight:hover {
  background-color: hsla(0, 0%, 85%, 0.7);
  border-radius: 0.5rem;
  transition: background-color 0.25s linear;
}

.info .highlight .desktop.image,
.thesis .highlight .image {
  width: 35%;
  flex-shrink: 0;
  margin-right: 1rem;
}

.highlight .mobile.image {
  width: 100%;
  flex-shrink: 0;
}

.highlight .image img {
  width: 100%;
}

.highlight .image-info h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
}

.highlight .image-info h4:hover {
  color: orangered;
}

.highlight .image-info h4:active {
  color: #ff9047e6;
}

.highlight .image-info div {
  padding: 1rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.highlight .image-info a {
  color: cornflowerblue;
  font-size: 0.8rem;
}

/*Courses and thesis section styles*/
.courses {
  background-color: lightgray;
}

.courses .grid-title,
.thesis .title {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  padding-top: 2rem;
}

.courses .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1.5rem;
}

.courses .grid .class {
  width: 30%;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.courses .grid button {
  border-radius: 0.5rem;
  border-width: 0;
}

.courses .grid button:hover {
  background-color: #ff980075;
  transition: background-color 0.25s linear;
}

.courses .grid .course-image img {
  width: 100%;
}

.courses .grid .course-info {
  padding: 1rem;
  line-height: 1.5;
}

.courses .grid .course-info a {
  font-size: 1.2rem;
  font-weight: 700;
}

.grid .course-info h5 {
  color: gray;
  text-transform: uppercase;
  padding: 1rem 0;
}

.thesis {
  border-bottom: 0.5px solid lightgray;
}

.thesis .introduction {
  padding: 2rem 1.5rem;
}

.thesis .highlight-list {
  padding-top: 1rem;
}

.info .introduction .image-info,
.video-info {
  padding-top: 2rem;
}

.info .introduction .image-info div,
.video-info div {
  padding: 1.5rem 0;
  line-height: 1.3;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

footer nav a {
padding-left: 1rem;
}

@media only screen and (min-width: 790px) {
  header .mobile-icon,
  .highlight-list .mobile.image {
    display: none;
  }
}

@media only screen and (max-width: 790px) {
  header .desktop-logo,
  header .home,
  header nav,
  .info .desktop.image,
  .class .course-image,
  .class .course-info h5,
  .class .course-info .description,
  .video-info,
  .thesis .highlight-list,
  footer nav {
    display: none;
  }

  header {
    justify-content: space-around;
  }

  .banner {
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
  }

  .banner .image {
    width: 100%;
  }

  .banner .text {
    width: 100%;
    margin: 2rem 1rem;
  }

  .banner h1 {
    padding-right: 0;
  }

  .banner h3 {
    padding: 0;
  }

  .banner button {
    width: 100%;
  }

  .info {
    border-bottom: 0.5px solid lightgray;
    flex-direction: column;
  }

  .info .introduction {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 0.5px solid lightgray;
  }

  .info .highlight-list {
    width: 100%;
    padding: 1rem 0;
    display: flex;
  }

  .info .highlight {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .highlight .image-info h4 {
    padding-top: 1rem;
  }

  .info .highlight.campus {
    border-left: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
  }

  .courses .grid {
    display: flex;
    padding: 1.5rem 0 2rem 0;
    border-bottom: 0.5px solid lightgray;
  }

  .courses .grid button {
    background-color: white;
    width: 45%;
    cursor: pointer;
    border-radius: 0.5rem;
    border-width: 0;
  }

  .thesis .introduction {
    width: 100%;
  }
}

@media only screen and (max-width: 610px) {
  .info .introduction {
    display: none;
  }

  .info .highlight-list {
    border-left: none;
    border-bottom: 0.5px solid lightgray;
  }

  .info .highlight {
    justify-content: flex-start;
  }

  .courses {
    background-color: white;
  }

  .grid .class {
    width: 100%;
    background-color: lightgray;
  }
}

@media only screen and (max-width: 480px) {
  .info .highlight-list {
    flex-direction: column;
  }
}

@media only screen and (max-width: 390px) {
  footer {
    font-size: 0.75rem;
  }
}
